<!DOCTYPE html>
<html>

<script type="text/javascript" src="/bootstrap-daterangepicker/moment.js"></script>
<script type="text/javascript" src="/bootstrap-daterangepicker/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/bootstrap-daterangepicker/daterangepicker-bs3.css" />

<style>
	.td-filter label{
		font-size: 1.2em;
		color: darkslategray;
	}

	#filters input, #filters select{
		padding: 8px;
		margin: 3px;
		border-radius: 1px;
		border: 1px solid lightblue;
		font-size: 1.25em;
		font-weight: bold;
		color: darkslategray;
	}
	.td-filter label, .td-ctrl select, .td-ctrl input{

		width: 100%;
	}

	.td-filter, .td-ctrl{

		width: 40%;
	}

	#controls{
		width: 100%;	
	}

	#tbl-data th{
		font-size: 1.3em;
		background: lightsteelblue;
		padding: 7px;
	}

	#tbl-data td{
		font-size: 1.2em;
		padding: 6px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.left{
			text-align: right;
		}

	.value{
		font-weight: bold;
		text-align: center;
	}


</style>

<table style="width: 100%;" >
	<tr>
		<td id="td-ou" colspan="2" 
			style='width: 100%;font-size: 1.5em;font-weight: bold;text-align: center;padding: 7px;
			 padding-right: 35px;border-radius: 0px; border: 1px solid lightblue;text-align: left;
			background: ghostwhite; color: darkslategray;'>
		 	SRH Report
		</td>
	</tr>
</table>
<table id="filters" style="width: 70%;margin: auto;margin-top: 1vh;border: 1px solid ghostwhite;">
	<tr>
		<td class="td-filter" style="width: 30%;">
			<label> 
				Date Range: 
			</label>
		</td>
		<td class="td-ctrl">
			<input name="daterange" value="" style="width: 100%;" />
		</td>
		<td rowspan="3" style="width: 20%;padding-bottom: 5px;padding-left: 20px;" valign="bottom">
			<table id="controls">
				<tr>
					<td>
						<div class=" btn-controls btn btn-primary btn-md" onmousedown="buildReport()" >
							Generate Report
						</div>
					</td>
					<td>
						<div class="btn-controls btn btn-primary btn-md" onmousedown="exportCSV()">
							Download CSV
						</div>
					</td>
			</table>
		</td>
	</tr>

	<tr>
		<td class="td-filter">
			<label> 
				Organisation Unit: 
			</label>
		</td>
		<td class="td-ctrl" >
			<select id="ou-select" onchange="updateOU(this);" placeholder="Select Organisation Unit">
				<option value=""></option>
				<%  @organisation_units.each do |ou|%>
					<option value="<%=ou['id']%>"><%=ou['displayName']%></option>
				<% end %>
			</select>
		</td>
	</tr>

	<tr>
		<td class="td-filter">
			<label> 
				Change Agent: 
			</label>
		</td>
		<td class="td-ctrl" >
		 <select id="ca-select" style="width: 100%;" onchange="updateChangeAgent(this)">
				<option value=""></option>
			</select>
		</td>
	</tr>

<table>

<div id="content" style="height: 70vh; max-height: 70vh; margin-top: 1%; overflow: auto; border-top: 1px solid darkred;">
	
<table id="tbl-data" class="table table-striped table-condensed table-bordered" 
		style="overflow: auto;width: 90%; margin: auto; margin-top: 10px;
 color: darkslategray; display: none;">
		<tr>
			<th style="width: 10%">#</th>
			<th style="width: 45%;padding-left: 30px;">INDICATOR</th>
			<th style="width: 45%; text-align: center;">TOTAL</th>		
		<tr>

		<% @indicators.each_with_index do |indicator, i|
		@breakdown = @data[indicator]
	 %>
			<tr>
				<td><%= (i + 1)%></td>
				<td style="font-weight: bold;"><%= indicator%></td>
				<td class="value" id="<%=indicator%>"><%= "?"%></td>		
			</tr>

				<% @breakdown.each do |category, gender|
					gender = gender["Gender"]
					%>
						<tr>
							<td>&nbsp;</td>
							<td style="font-weight: bold;"><%= category%></td>
							<td class="value" id="<%=indicator%>-<%=category%>" ><%= "?"%></td>		
						<tr>
						<% gender.each do |g, age_breakdown| 
%>	
							<tr>
								<td>&nbsp;</td>
								<td class="left" style="font-weight: bold;"><%= g%></td>
								<td class="value" id="<%=indicator%>-<%=category%>-<%=g%>" ><%= "?"%></td>		
							</tr>

							<% age_breakdown.each do |age_category, age_count|%>
								<tr>
									<td>&nbsp;</td>
									<td class="left"><%= age_category%></td>
									<td class="value"  id="<%=indicator%>-<%=category%>-<%=g%>-<%=age_category%>"  ><%= "?"%></td>		
								</tr>
							<% end %>
						<% end %>
				<% end %>
		<% end %>

	</table>
</div>



<script type="text/javascript">

		var start_date = moment(). format('DD/MMM/YYYY');
		var end_date = moment(). format('DD/MMM/YYYY');
		var ou_id 	= -1;
		var ou_name = "All";
		var change_agent_id = -1;
		var change_agent_name = "All";

		$('input[name="daterange"]').daterangepicker(
      {
        format: 'DD/MMM/YYYY',
        startDate: moment(). format('DD/MMM/YYYY'),
        endDate: moment(). format('DD/MMM/YYYY')
      },

      function(start, end, label) {
				start_date = start.format('DD/MMM/YYYY');
				end_date  =  end.format('DD/MMM/YYYY');

        console.log('Range: ' + start_date + ' - ' + end_date);
      }

    );
		
		function updateOU(node){
			ou_id = node.value;
			ou_name = node.options[node.selectedIndex].innerHTML;	

			loadUsers(ou_id);
		}
		
		function updateChangeAgent(node){
			change_agent_id = node.options[node.selectedIndex].id;
			change_agent_name = node.options[node.selectedIndex].value;
		}

		function buildReport(){

				var url = "ajax_srh_report?start_date=" + start_date + "&end_date=" + end_date
				url = url + "&ou_id=" + ou_id + "&ou_name=" + ou_name
				url = url + "&change_agent_id=" + change_agent_id + "&change_agent_name=" + change_agent_name 
				jQuery.ajax({
					url: url,
					success: function(data){
						data = JSON.parse(data);
						//console.log(data);
			
						updateReport(data);
					}
				})			
		}

		function updateReport(data){

			for(var indicator in data){

				var categories = data[indicator];
				var indicator_total = hashSum(categories, 0);
				__$([indicator]).innerHTML = indicator_total;

				for (var category in categories){

					var genders = categories[category]["Gender"];
					var category_total = hashSum(genders, 0);
					__$([indicator, category].join("-")).innerHTML = category_total;
					for(var gender in genders){
						
						var ages = genders[gender];
						var genders_total = hashSum(ages, 0);
						__$([indicator, category, gender].join("-")).innerHTML = genders_total;
						for(var age in ages){
							
							__$([indicator, category, gender, age].join("-")).innerHTML = ages[age];
						}					
					}
				}
			}
		}

		function loadUsers(ou_id){
			var node = __$("ca-select")
			var username = node.options[node.selectedIndex].getAttribute("username");

			var ca_url = "ajax_ou_users"
			ca_url += "?username=" + username + "&org_id=" + ou_id;

			jQuery.ajax(
				{
					url: ca_url,
					success: function(rst){
						 	var users = JSON.parse(rst)
							var caNode = __$("ca-select"); 
							jQuery(caNode).empty();
							
							var option = document.createElement("option");								
							caNode.appendChild(option);

							for(var i=0; i< users.length; i++){
								var option = document.createElement("option");
								option.id = users[i]["id"]
								option.value = users[i]["userCredentials"]["username"]
								option.setAttribute("firstName", users[i]["firstName"]);
								option.setAttribute("surname", users[i]["surname"])
								option.innerHTML = users[i]["firstName"] + " " + users[i]["surname"] + "   (" + users[i]["userCredentials"]["username"] + ")"
								caNode.appendChild(option);
							}							
					}
				}
			);
		}


		function hashSum(hash, total){
			
			for(var k in hash){

					if (typeof(hash[k]) == "object"){

						total = hashSum(hash[k], total);
					}else{

						total += hash[k];
					}
			}

			return total;
		}

		jQuery(".input-mini").attr("disabled", true);

		$(document).ready(function(){
			var table = __$("tbl-data");
			table.parentNode.removeChild(table);
			table.style.display = "table"
			__$("content").appendChild(table);			
			
		})

</script>
</html>
